# Python Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache and Compiles
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints/

# IDE / Editor Settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS Metadata
Thumbs.db
db.db
desktop.ini

# Large Telemetry datasets / Generated outputs
resource/GenData_Samples.csv
*.log
*.zip
*.json
PipeLine/pipeline.db

# C++ Compilation Outputs
*.o
*.obj
*.out
build/
bin/
parser_src/build/
parser_src/bin/

# Prevent ignoring compiled parser executables in PipeLine
!PipeLine/parser/parser.exe
!PipeLine/parser/parser-linux
!PipeLine/parser/parser-linux.exe
!PipeLine/parser/parser


# ignore temp files 
temp.py